<!DOCTYPE html>
<html>
  <head>
    <title>Dreamcatcher</title>
    <style>
      #dream-description {
        width: 80%;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 style="font-family: cursive;">Dreamcatcher</h1>
    </header>
    <main>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="description">Dream Description:</label>
        <br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
        <br>
        <label for="duration">Duration:</label>
        <input type="range" id="duration" name="duration" min="1" max="5" list="duration-metrics">
        <datalist id="duration-metrics">
          <option value="1">
          <option value="2">
          <option value="3">
          <option value="4">
          <option value="5">
        </datalist>
        <br>
        <label for="stress-level">Stress Level:</label>
        <input type="range" id="stress_level" name="stress_level" min="1" max="5" list="stress-level-metrics">
        <datalist id="stress-level-metrics">
          <option value="1">
          <option value="2">
          <option value="3">
          <option value="4">
          <option value="5">
        </datalist>
        <br>
        <label for="energy">Energy:</label>
        <input type="range" id="energy" name="energy" min="1" max="5" list="energy-metrics">
        <datalist id="energy-metrics">
          <option value="1">
          <option value="2">
          <option value="3">
          <option value="4">
          <option value="5">
        </datalist>
        <br>
        <button type="submit">Submit</button>

        <canvas id="duration-chart" width="400" height="400"></canvas>
        
    </form>
    <form action="{% url 'chart_redirect' %}" method="GET">
        <label for="metric">Select a metric:</label>
        <select id="metric" name="metric">
            <option value="duration">Duration</option>
            <option value="energy">Energy Level</option>
            <option value="stress">Stress Level</option>
        </select>
        <button type="submit">Show Chart</button>
    </form>
    </main>
  </body>
</html>